@mixin flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin grid {
  display: grid;
}

// mixin for media queries
@mixin media-qry($point) {
  @if $point == 'large' {
    @media(min-width: $large) {
      @content;
    }
  }
  @else if $point == 'med' {
    @media(min-width: $med) {
      @content;
    }
  }
}

@mixin create-title {
    font-weight: bolder;
    font-family: 'Special Elite', cursive;
    @include media-qry(large) {
      font-size: 22px;
      margin: 25px 10px;
    }
}
