// media query breakpoints
$med: 768px;
$large: 1024px;

$white: #FFFFFF; // white
$border: #BAAA8F; // light brown/gold for borders and highlights
$text-primary: #E8E8E8; // light grey
$highlight: #A0D3C4; // light aqua for nav bar
$nav-link: #4F5F5A; // dark  gray/green for nav links


// test out new color palette

$black: #12130F;
$wintergreen: #5B9279;
$etonblue: #8FCB9B;
$platinum: #EAE6E5;
$taupe: #8F8073;

// second option

$maroon: #30011E;
$mint: #D7FCD4;
$laurelgreen: #B6CCA1;
$brass: #B68F40;
$darkgrey: #545454;
