// .resume-img {
//   height: 200px;
//   @include media-qry(med) {
//     height: 300px;
//   }
//   @include media-qry(large) {
//     height: 500px;
//   }
// }
//
// .resume-width {
//   width: 90%;
//   margin: 50px auto 0 auto;
//   @include media-qry(med) {
//     width: 60%;
//   }
//   @include media-qry(large) {
//     width: 65%;
//   }
// }
//
// .letters {
//   margin: 100px auto;
//   font-size: 60px;
//   width: 70px;
//   height: 70px;
//   text-align: center;
// }


.bio {
  margin-bottom: 50px;
}

.skills {
  margin-top: 30px;
  @include grid;
  grid-template-columns: 1fr 1fr;
  @include media-qry(med) {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media-qry(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  & li {
    @extend %no-bullets;
    margin: 0 auto;
  }
  &-icons {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 5px 5px;
    @include media-qry(med) {
      width: 40px;
      height: 40px;
    }
    @include media-qry(large) {
      width: 50px;
      height: 50px;
    }
  }
}

.scroll {

  // &-mbl {
  //   margin-top: 8em;
  //   @include media-qry(med) {
  //     display: none;
  //   }
  // }
  &-dsktop {
    margin-top: 7em;
    @include media-qry(med) {
      margin-top: 0;
      display: block;
      overflow-y: scroll;
      height: 100vh;
    }
  }
  &-about {
    margin-top: 7em;
    
    @include media-qry(med) {
      margin-top: 0;
      display: block;
      overflow-y: scroll;
      height: 100vh;
    }
  }
}
