.resume-img {
  height: 200px;
  @include media-qry(med) {
    height: 300px;
  }
  @include media-qry(large) {
    height: 500px;
  }
}

.resume-width {
  width: 90%;
  margin: 50px auto 0 auto;
  @include media-qry(med) {
    width: 60%;
  }
  @include media-qry(large) {
    width: 65%;
  }
}

.letters {
  margin: 100px auto;
  font-size: 60px;
  width: 70px;
  height: 70px;
  text-align: center;
  color: $laurelgreen;
}

.profile-pic {
  width: 50%;
  height: 50%;
  margin-bottom: 2em;
}
