.container {
  width: 100%;
  &-contact {
    margin-top: 7em;
    @include media-qry(med) {
      margin-top: 0;
      @include flexbox;
    }
  }
}

.card {
  &-body-contact {
    & a {
      @extend %no-underline;
    }
  }
  &-contact {
    width: 100%;
    margin: 10px auto;
    @include media-qry(med) {
      max-width: 100%;
      @include flexbox;
      flex-direction: column;
      align-items: center;
      align-content: space-around;
      width: 40%;
      min-height: 400px;
      // border: 1px solid $highlight;
      border: 2px solid $maroon;
    }
  }
  &-text {
    margin: 5px 0 40px 0;
  }
  &-text-two {
    margin: 30px 0;
  }
  &-projects {
    height: 480px;
    width: 500px;
    margin: 0 auto;
  }
}

.break {
  background-color: $maroon;
  @include media-qry(med) {
    width: 100%;
    margin: 5px;
  }
}
