.container {
  width: 100%;
  &-contact {
    @include media-qry(med) {
      margin-top: 0;
    }
    @include media-qry(large) {
      width: 100%;
    }
  }
}

.section {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 15px 0;
  @include media-qry(large) {
    margin: 2em 0 0.8em 0;
    align-items: center;
  }
}

.page-title {
  @include create-title;
  &-skill {
    margin-top: 15px;
    @include media-qry(large) {
      margin-top: 10px;
      font-size: 1em;
    }
  }
}


.card {
  &-body-contact {
    width: 100%;
    & a {
      @extend %no-underline;
    }
    @include media-qry(large) {
      display: flex;
      justify-content: space-around;
    }
  }
  &-contact {
    border: none;
    display: flex;
    margin: 10px auto;
    padding: 10px;
  }
  &-text {
    @include media-qry(med) {
      height: 100px;
      margin: 15px 0;
    }
  }
  &-title {
    @include media-qry(med) {
      height: 50px;
    }
  }
  &-text-two {
    color: $maroon;
    display: inline;
    @include media-qry(med) {
      width: 100%;
      margin-left: 3em;
    }
  }
  &-projects {
    height: 100%;
    width: 100%;
    margin: 30px auto;
    padding: 10px 5px;
    border-radius: 5px;
    @include media-qry(med) {
      width: 90%;
      height: auto;
    }
  }
  &-body {
    @include media-qry(med) {
      height: 300px;
      width: 320px;
    }
  }
}

.contact-form {
  padding: 10px;
  @include media-qry(large) {
    text-align: center;
  }
}

.group {
  margin: 10px 0;
}

.input {
  padding: 10px;
  border: 1px solid $maroon;
  border-radius: 2px;
  width: 100%;
  &:focus {
    outline-color: $darkolive;
  }
  @include media-qry(large) {
    width: 60%;
  }
  &-large {
    resize: none;
    height: 150px;
  }
  &-submit {
    width: 40%;
    background-color: $darkolive;
    color: white;
    margin-left: 30%;
    &:hover {
      cursor: pointer;
      background-color: $olive;
    }
    @include media-qry(med) {
      margin-left: 28%;
    }
    @include media-qry(large) {
      margin-left: 0;
    }
  }
}

.socials {
  @include flexbox;
  justify-content: space-around;
  @include media-qry(med) {
    margin: 20px auto;
    width: 50%;
    justify-content: space-between;
  }

}

#fade {
  @include media-qry(med) {
    display: none;
  }
}

.wrapper {
  @include media-qry(large) {
    overflow-x: hidden;
  }
}

.alert-hidden {
  // visibility: hidden;
}

.alert-message {
  margin-left: 10%;
  width: 100%;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 7px;
  @include media-qry(sm) {
    margin-left: 5em;
  }
  @include media-qry(med) {
    margin-left: 28%;
  }
  @include media-qry(large) {
    margin: 0;
  }
}

.success-message {
  width: 100%;
  background-color: $olive;
  color: white;
  padding: 5px;
  border-radius: 7px;
}
