.footer {

  &-resume {
    @include flexbox;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    & p {
      color: $maroon;
    }
    & a {
      @extend %no-underline;
    }
    @include media-qry(med) {
      font-size: 0.8em;
      display: block;
      text-align: right;
      margin-left: auto;
    }
  }
}

.hide {
  @include media-qry(med) {
    display: none;
  }
}

.copyright {
  text-align: right;
  color: $maroon;
  font-size: 0.7em;
  font-style: italic;
  @include media-qry(med) {
    font-size: 0.8em;
  }
  @include media-qry(large) {
    font-size: 0.9em;
  }
}

.top {
  color: $maroon;
  font-size: 0.8em;
  font-weight: bold;
}
