.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: $mint;
  &-resume {
    margin-top: 10px;
    & p {
      color: $maroon;
    }
    & a {
      @extend %no-underline;
    }
    @include media-qry(med) {
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding: 20px 15px;
    }
  }
  &-contact {
    padding: 10px;
    text-align: center;
    background-color: $mint;
    margin-top: 30px;
    @include media-qry(large) {
      text-align: right;
    }
  }
}
