.footer {

  &-resume {
    @include flexbox;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    & p {
      color: $maroon;
    }
    & a {
      @extend %no-underline;
    }
    @include media-qry(med) {
      font-size: 0.8em;
    }
  }
  &-sticky {
   position: fixed;
   left: 0;
   bottom: 0;
   // padding: 10px;
   width: 100%;
   text-align: center;
   @include media-qry(large) {
     text-align: left;
   }
  }
}

.hide {
  @include media-qry(med) {
    display: none;
  }
}

.copyright {
  text-align: right;
  color: $maroon;
  font-size: 0.6em;
  font-style: italic;
  @include media-qry(large) {
    font-size: 0.9em;
  }
}

.top {
  color: $maroon;
  font-size: 0.8em;
  font-weight: bold;
}
