.centered {
  text-align: center;
}

.parent {

  &-home {
    background-image: url('../images/cactus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-qry(med) {
      @include grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: auto;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 100vh;
      background-position: bottom;
    }
  }
  &-about {
    @include media-qry(med) {
      @include grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: auto;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      // height: 100vh;
    }
  }
}

.desktop {
  &-home {
    display: none;
    @include media-qry(med) {
      text-align: center;
      padding: 15px;
      // border-radius: 20%;
      // border-right: 2px solid $maroon;
    }
  }
  &-contact {
    display: none;
    @include media-qry(med) {
      text-align: center;
      height: 100vh;
      // grid-column: 1 / 2;
      // grid-row: 1 / 5;
      padding: 15px;
      // border-radius: 20%;
      // border-right: 2px solid $maroon;
    }
  }
  &-about {
    display: none;
    @include media-qry(med) {
      text-align: center;
      // grid-column: 1 / 2;
      // grid-row: 1 / 5;
      padding: 15px;
      // border-radius: 20%;
      // border-right: 2px solid $maroon;
    }
  }
}
