.mobile-header {
  width: 100%;
  height: 100vh;
  // position: relative;
  @include media-qry(med) {
    display: none;
  }
  &-contact {
    margin-bottom: 40px;
    @include media-qry(med) {
      display: none;
    }
  }
  &-resume {
    @include media-qry(med) {
      display: none;
    }
  }
}

.title {
  // position: absolute;
  text-align: center;
  display: none;
  // margin: 50px 0 0 50px;
}

.navbar {
  margin-bottom: 0;
}

.nav {
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding: 20px 10px;
  @include media-qry(med) {
    background-color: $darkgrey;
    opacity: 0.9;
  }
}

.coll-custom {
  position: absolute;
  left: 0;
  top: 100%;
}

.navbar1 {
  visibility: hidden;

  @include media-qry(med) {
    visibility: visible;
    opacity: 0.6;
    transition: opacity 2.4s ease-in-out;
  }
}



// testing out new mobile menu options
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $maroon;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: white;
}

.overlay .closebtn {
  position: absolute;
  color: #818181;
  top: 20px;
  right: 45px;
  padding: 0;
  font-size: 60px;
}
