.links {
  width: 100%;
  @include media-qry(med) {
    @include flexbox;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  & li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 6px;
    border-radius: 5px;
    z-index: 10;
    // opacity: 0.7;
    // transition: transform 0.2s ease-in-out;
    @extend %no-bullets;
  }
  & a {
    @extend %no-underline;
    @include media-qry(large) {
      &:hover {
        color: $maroon;
      }
    }
  }
}

.link-contact {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
  @include media-qry(med) {
    background-color: inherit;
  }
  & a {
    padding: 5px;
    border-radius: 10px;
    @include media-qry(med) {
      color: $darkgrey;
    }
    }
}

.home {
  font-size: 1.8em;
  text-align: center;
}
