* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
#txt {
  text-shadow: 4px 4px 5px $highlight, -5px -8px 2px $border;
}

// body {
//   background-image: url('../images/blue_mountains.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
// }
